header{
	width:100%;
	height: 108px;
	background: #222222;
}
.top-nav{
	width:960px;
	height: 108px;
	margin:auto auto;
	position: relative;
}
.top-navtext{
	width:875px;
	height: 64px;
	margin:auto auto;
	margin-top: 22px;
	float: left;
}
.top-navtext>li:nth-child(1){
	width: 274px;
	height: 67px;
}
.top-navtext>li:nth-child(1)>a{
	width:279px;
	height: 67px;
}
.top-navtext>li:nth-child(1)>a>span{
	width: 259px;
	height: 67px;
}
.mercedes-benz{
	width: 259px;
	height: 64px;
	cursor: pointer;
}
.top-navtext>li:nth-child(2){
	width: 78px;
	height: 60px;
	float: left;
	margin-left: 299px;
	margin-top: -25px;
	text-align: center;
}
.top-navtext>li:nth-child(2)>a{
	width: 78px;
	height: 20px;
	float: left;
}
.top-navtext>li:nth-child(3){
	width: 106px;
	height: 60px;
	float: left;
	margin-top: -25px;
	text-align: center;
}
.top-navtext>li:nth-child(3)>a{
	width: 106px;
	height: 20px;
	float: left;
	color:#00ADEF;
}
.top-navtext>li:nth-child(4){
	width: 106px;
	height: 60px;
	float: left;
	margin-top: -25px;
	text-align: center;
}
.top-navtext>li:nth-child(4)>a{
	width: 106px;
	height: 20px;
	float: left;
}
.top-navtext>li:nth-child(5){
	width: 140px;
	height: 60px;
	float: left;
	margin-top: -25px;
	text-align: center;
}
.top-navtext>li:nth-child(5)>a{
	width: 140px;
	height: 20px;
	float: left;
}
.top-navtext>li:nth-child(6){
	width: 146px;
	height: 60px;
	float: left;
	margin-top: -25px;
	text-align: center;
}
.top-navtext>li:nth-child(6)>a{
	width: 146px;
	height: 20px;
	float: left;
}
.sousuo{
	width:50px;
	height: 40px;
	float: left;
	margin-top: 62px;
	margin-left: 20px;
}
.sousuo>li{
	width:50px;
	height: 40px;
}
.sousuo>li>a{
	width:50px;
	height: 40px;
}
.sousuo>li>a>span{
	width:20px;
	height: 20px;
	font-size:20px;
	margin-left: 20px;
}
.denglu{
	width:74px;
	height: 14px;
	position: absolute;
	left:870px;
	top:28px;
}
.denglu>li{
	width:37px;
	height: 14px;
	float: left;
	text-align: center;
	box-sizing:border-box;
}
.denglu>li>a>span{
	width:37px;
	height: 14px;
	font-size: 12px;
}
.denglu>li>a{
	width:37px;
	height: 14px;
}
.denglu>li:nth-child(1){
	border-right: 1px solid gray;
}
.body{
	width: 100%;
	height: 619px;
	margin-top: 50px;
	margin-bottom: 50px;
}
.bodyHeader{
	width: 940px;
	height: 50px;
	margin:auto auto;
	font-size:30px;
	margin-bottom: 20px;
}
.bodyBody{
	width: 940px;
	height: 495px;
	margin:auto auto;
	border-bottom: 1px solid #ccc;
}
.body_1{
	width:220px;
	height: 207px;
	float: left;
}
.body_1>a{
	width:220px;
	height: 207px;
}
.body_1>a>p:nth-child(1){
	width: 220px;
	height: 120px;
	background: url(../images/440.jpg);
	background-size: 220px 120px;
	margin-bottom: 20px;
}
.body_1>a>p:nth-child(2){
	color:#333333;
}
.body_1>a:hover>p:nth-child(2){
	color:#00ADEF;
}
.body_1>a>p:nth-child(3){
	color:#666666;
	font-size: 12px;
	margin-top: 10px;
}
.body_1>a>p:nth-child(4){
	color:#666666;
	font-size: 12px;
	margin-top: 10px;
}

.body_2{
	width:220px;
	height: 207px;
	float: left;
	margin-left: 20px;
}
.body_2>a{
	width:220px;
	height: 207px;
}
.body_2>a>p:nth-child(1){
	width: 220px;
	height: 120px;
	background: url(../images/440240new.jpg);
	background-size: 220px 120px;
	margin-bottom: 20px;
}
.body_2>a>p:nth-child(2){
	color:#333333;
}
.body_2>a:hover>p:nth-child(2){
	color:#00ADEF;
}
.body_2>a>p:nth-child(3){
	color:#666666;
	font-size: 12px;
	margin-top: 10px;
}
.body_2>a>p:nth-child(4){
	color:#666666;
	font-size: 12px;
	margin-top: 10px;
}

.body_3{
	width:220px;
	height: 207px;
	float: left;
	margin-left: 20px;
}
.body_3>a{
	width:220px;
	height: 207px;
}
.body_3>a>p:nth-child(1){
	width: 220px;
	height: 120px;
	background: url(../images/Dealer_Locator.png);
	background-size: 220px 120px;
	margin-bottom: 20px;
}
.body_3>a>p:nth-child(2){
	color:#333333;
}
.body_3>a:hover>p:nth-child(2){
	color:#00ADEF;
}
.body_3>a>p:nth-child(3){
	color:#666666;
	font-size: 12px;
	margin-top: 10px;
}
.body_3>a>p:nth-child(4){
	color:#666666;
	font-size: 12px;
	margin-top: 10px;
}

.body_4{
	width:220px;
	height: 207px;
	float: left;
	margin-left: 20px;
}
.body_4>a{
	width:220px;
	height: 207px;
}
.body_4>a>p:nth-child(1){
	width: 220px;
	height: 120px;
	background: url(../images/Test_Drive.png);
	background-size: 220px 120px;
	margin-bottom: 20px;
}
.body_4>a>p:nth-child(2){
	color:#333333;
}
.body_4>a:hover>p:nth-child(2){
	color:#00ADEF;
}
.body_4>a>p:nth-child(3){
	color:#666666;
	font-size: 12px;
	margin-top: 10px;
}
.body_4>a>p:nth-child(4){
	color:#666666;
	font-size: 12px;
	margin-top: 10px;
}

.body_5{
	width:220px;
	height: 207px;
	float: left;
	margin-top: 20px;
}
.body_5>a{
	width:220px;
	height: 207px;
}
.body_5>a>p:nth-child(1){
	width: 220px;
	height: 120px;
	background: url(../images/Financial_Calculator.png);
	background-size: 220px 120px;
	margin-bottom: 20px;
}
.body_5>a>p:nth-child(2){
	color:#333333;
}
.body_5>a:hover>p:nth-child(2){
	color:#00ADEF;
}
.body_5>a>p:nth-child(3){
	color:#666666;
	font-size: 12px;
	margin-top: 10px;
}
.body_5>a>p:nth-child(4){
	color:#666666;
	font-size: 12px;
	margin-top: 10px;
}
.navagation{
	width:100%;
	height: 64px;
}
.navagationTxt{
	width:940px;
	height: 64px;
	margin:auto auto;
	margin-top: 20px;
}
.navagationTxt_1{
	width:114px;
	height: 21px;
	border-right: 1px solid #333;
	float: left;
}
.navagationTxt_1>a{
	width:74px;
	height: 21px;
	display: block;
	color:#270027;
	font-size: 18px;
	font-weight: 400;
}
.navagationTxt_2{
	width:168px;
	height: 21px;
	border-right: 1px solid #333;
	float: left;
}
.navagationTxt_2>a{
	width:108px;
	height: 21px;
	display: block;
	color:#270027;
	font-size: 18px;
	font-weight: 400;
	margin:auto auto;
}
.navagationTxt_3{
	width:168px;
	height: 21px;
	float: left;
}
.navagationTxt_3>a{
	width:108px;
	height: 21px;
	display: block;
	color:#270027;
	font-size: 18px;
	font-weight: 400;
	margin:auto auto;
}
.zaixiangouche{
	width:100%;
	height: 1361px;
}
.zaixiangouche>span{
	width:940px;
	height:50px; 
	margin:auto auto;
	text-align: center;
    font-size: 36px;
    line-height: 50px;
    color:#666666;
    display: block;
    margin-bottom: 40px;
}
.img{
	width:940px;
	height: 1200px;
	margin:auto auto;
	position: relative;
}
.img_1{
	width:940px;
	height: 300px;
	background:url(../images/GLS_OneWeb_PC.jpg);
	background-size: 940px 300px;
}
.img_1:hover>a{
	background: black;
	opacity: 0.3;
}
.img_1>a{
	width:940px;
	height: 300px;
	display: block;
}
.img_1txt{
	width:320px;
	height: 120px;
	color:white;
	position: absolute;
	top:100px;
	left:50px;
	visibility: hidden;
}
.img_1txt>a:nth-child(1){
	width: 320px;
	font-size: 30px;
	margin-bottom: 20px;
	display: block;
}
.img_1txt>a:nth-child(2){
	width: 320px;
	font-size: 16px;
	display: block;
	margin-bottom: 20px;
}
.img_1txt>a:nth-child(3){
	width: 320px;
	font-size: 14px;
	display: block;
}
.img_1txt>a:nth-child(1):hover{
	color:white;
}
.img_1txt>a:nth-child(2):hover{
	color:white;
}
.img_1txt>a:nth-child(3):hover{
	color:#00ADEF;
}


.img_2{
	width:940px;
	height: 300px;
	background:url(../images/GLA.jpg);
	background-size: 940px 300px;
	margin-top: 10px;
}
.img_2:hover>a{
	background: black;
	opacity: 0.5;
}
.img_2>a{
	width:940px;
	height: 300px;
	display: block;
}
.img_2txt{
	width:320px;
	height: 120px;
	color:white;
	position: absolute;
	top:400px;
	left:50px;
	visibility: hidden;
}
.img_2txt>a:nth-child(1){
	width: 320px;
	font-size: 30px;
	margin-bottom: 20px;
	display: block;
}
.img_2txt>a:nth-child(2){
	width: 320px;
	font-size: 16px;
	display: block;
	margin-bottom: 20px;
}
.img_2txt>a:nth-child(3){
	width: 320px;
	font-size: 14px;
	display: block;
}
.img_2txt>a:nth-child(1):hover{
	color:white;
}
.img_2txt>a:nth-child(2):hover{
	color:white;
}
.img_2txt>a:nth-child(3):hover{
	color:#00ADEF;
}

.img_3{
	width:940px;
	height: 300px;
	background:url(../images/oneweb.jpg);
	background-size: 940px 300px;
	margin-top: 10px;
}
.img_3:hover>a{
	background: black;
	opacity: 0.5;
}
.img_3>a{
	width:940px;
	height: 300px;
	display: block;
}
.img_3txt{
	width:320px;
	height: 120px;
	color:white;
	position: absolute;
	top:710px;
	left:50px;
	visibility: hidden;
}
.img_3txt>a:nth-child(1){
	width: 320px;
	font-size: 30px;
	margin-bottom: 20px;
	display: block;
}
.img_3txt>a:nth-child(2){
	width: 320px;
	font-size: 16px;
	display: block;
	margin-bottom: 20px;
}
.img_3txt>a:nth-child(3){
	width: 320px;
	font-size: 14px;
	display: block;
}
.img_3txt>a:nth-child(1):hover{
	color:white;
}
.img_3txt>a:nth-child(2):hover{
	color:white;
}
.img_3txt>a:nth-child(3):hover{
	color:#00ADEF;
}

.img_4{
	width:620px;
	height: 300px;
	background:url(../images/OneWebpc.jpg);
	background-size: 620px 300px;
	margin-top: 10px;
	float: left;
}
.img_4:hover>a{
	background: black;
	opacity: 0.5;
}
.img_4>a{
	width:620px;
	height: 300px;
	display: block;
}
.img_4txt{
	width:320px;
	height: 120px;
	color:white;
	position: absolute;
	top:1020px;
	left:50px;
	visibility: hidden;
}
.img_4txt>a:nth-child(1){
	width: 320px;
	font-size: 30px;
	margin-bottom: 20px;
	display: block;
}
.img_4txt>a:nth-child(2){
	width: 320px;
	font-size: 16px;
	display: block;
	margin-bottom: 20px;
}
.img_4txt>a:nth-child(3){
	width: 320px;
	font-size: 14px;
	display: block;
}
.img_4txt>a:nth-child(1):hover{
	color:white;
}
.img_4txt>a:nth-child(2):hover{
	color:white;
}
.img_4txt>a:nth-child(3):hover{
	color:#00ADEF;
}

.img_5{
	width:310px;
	height: 300px;
	background:url(../images/Açº§PCç«¯.jpg);
	background-size: 310px 300px;
	margin-top: 10px;
	margin-left: 10px;
	float: left;
}
.img_5:hover>a{
	background: black;
	opacity: 0.5;
}
.img_5>a{
	width:310px;
	height: 300px;
	display: block;
}
.img_5txt{
	width:280px;
	height: 120px;
	color:white;
	position: absolute;
	top:1020px;
	left:650px;
	visibility: hidden;
}
.img_5txt>a:nth-child(1){
	width: 280px;
	font-size: 30px;
	margin-bottom: 20px;
	display: block;
}
.img_5txt>a:nth-child(2){
	width: 280px;
	font-size: 16px;
	display: block;
	margin-bottom: 20px;
}
.img_5txt>a:nth-child(3){
	width: 280px;
	font-size: 14px;
	display: block;
}
.img_5txt>a:nth-child(1):hover{
	color:white;
}
.img_5txt>a:nth-child(2):hover{
	color:white;
}
.img_5txt>a:nth-child(3):hover{
	color:#00ADEF;
}
.fenxiang{
	width:100%;
	height: 172px;
}
.fenxiangTo{
	width:940px;
	height: 32px;
	margin:40px auto;
}
.fenxiangTo>p{
	width:48px;
	height: 21px;
	float:right;
	font-size: 16px;
	line-height: 21px;
	margin-top: 5px;
}
.fenxiangTo>a{
	width:32px;
	height: 32px;
	display: block;
	color:#333333;
	float:right;
	margin-left:20px;
}
.fenxiangTo>a:hover{
	color:#333333;
}
.fenxiangTo>a>span{
	width:32px;
	height: 32px;
	display: block;
	font-size: 28px;
	line-height: 32px;
}
footer{
	width:100%;
	height: 892px;
	background: #F1F1F1;
}
.frist{
	width: 940px;
	height: 500px;
	margin: auto auto;
	border-bottom: 1px solid #cccccc;
}
h4{
	width:220px;
	height: 48px;
	font-size: 20px;
}
h4>a{
	color:#333333;
}
h4>a:hover{
	color:#0090FE;
}
.frist_1{
	width: 220px;
	height: 486px;
	float: left;
	margin-top: 40px;
	margin-right: 20px;
}
.frist_1>p{
	width:220px;
	height: 48px;
}
.frist_1>p>a{
	width:220px;
	height: 48px;
	color:#333333;
}
.frist_1>p>a:hover{
	color:#0090FE;
}
.frist_2{
	width:220px;
	height: 486px;
	float: left;
	margin-top: 40px;
	margin-right: 20px;
}
.frist_2>p>a{
	width:220px;
	height: 48px;
	color:#333333;
}
.frist_2>p>a:hover{
	color:#0090FE;
}
.frist_2>p{
	width:220px;
	height: 48px;
}
.frist_3{
	width:220px;
	height: 486px;
	float: left;
	margin-top: 40px;
	margin-right: 20px;
}
.frist_3>p>a{
	width:220px;
	height: 48px;
	color:#333333;
}
.frist_3>p>a:hover{
	color:#0090FE;
}
.frist_3>p{
	width:220px;
	height: 48px;
}
.frist_4{
	width:220px;
	height: 486px;
	float: left;
	margin-top: 40px;
}
.frist_4>p>a{
	width:220px;
	height: 48px;
	color:#333333;
}
.frist_4>p>a:hover{
	color:#0090FE;
}
.frist_4>p{
	width:220px;
	height: 48px;
}
.last{
	width: 940px;
	height: 128px;
	border-bottom: 1px solid #cccccc;
	margin:auto auto;
	margin-bottom: 20px;
}
.last>ul{
	width: 940px;
	height: 19px;
	margin-top: 20px;
}
.last>ul>li{
	float:left;
	width:230px;
	height:19px;
}
.last>ul>li:nth-child(3){ 
	width:200px;
}
.last>ul>li:nth-child(4){ 
	width:200px;
	text-align: center;
}
.last>ul>li>a{
	width:226px;
	height:19px;
	color:#333333;
}
.last>ul>li>a:hover{
	color:#0090FE;
}
.guanZ{
	width:940px;
	height: 148px;
	margin:auto auto;
}
.aaa{
	width:940px;
	height: 44px;
	margin-top: 20px;
}
.aaa>a:nth-child(1){
	display: block;
	width:44px;
	height: 44px;
	border-radius: 50%;
	background: url(../images/wechat.png);
	background-size: 44px 44px;
	float: left;
	margin-right: 20px;
}
.aaa>a:nth-child(1):hover{
	background: url(../images/wechat_mouse_over.png);
	background-size: 44px 44px;
}
.aaa>a:nth-child(2){
	display: block;
	width:44px;
	height: 44px;
	border-radius: 50%;
	background: url(../images/sina.png);
	background-size: 44px 44px;
	float: left;
	margin-right: 20px;
}
.aaa>a:nth-child(2):hover{
	background: url(../images/sina_mouse_over.png);
	background-size: 44px 44px;
}
.aaa>a:nth-child(3){
	display: block;
	width:44px;
	height: 44px;
	border-radius: 50%;
	background: url(../images/zhihu.png);
	background-size: 44px 44px;
	float: left;
}
.aaa>a:nth-child(3):hover{
	background: url(../images/zhihu_mouse_over.png);
	background-size: 44px 44px;
}
.footer_last{
	width:100%;
	height: 50px;
	background: #222222;
	margin-top: 44px;
}
.footer_lastxt{
	width:940px;
	height: 21px;
	margin:0 auto;
	display: flex;
	padding-top: 20px;
}
.footer_lastxt>ul{
	width:940px;
	height: 21px;
	display: flex;
	justify-content: space-between;
}
.footer_lastxt>ul>li{
	float:left;
}