header{
	width:100%;
	height: 108px;
	background: #222222;
}
.top-nav{
	width:960px;
	height: 108px;
	margin:auto auto;
	position: relative;
}
.top-navtext{
	width:875px;
	height: 64px;
	margin:auto auto;
	margin-top: 22px;
	float: left;
}
.top-navtext>li:nth-child(1){
	width: 274px;
	height: 67px;
}
.top-navtext>li:nth-child(1)>a{
	width:279px;
	height: 67px;
}
.top-navtext>li:nth-child(1)>a>span{
	width: 259px;
	height: 67px;
}
.mercedes-benz{
	width: 259px;
	height: 64px;
	cursor: pointer;
}
.top-navtext>li:nth-child(2){
	width: 78px;
	height: 60px;
	float: left;
	margin-left: 299px;
	margin-top: -25px;
	text-align: center;
}
.top-navtext>li:nth-child(2)>a{
	width: 78px;
	height: 20px;
	float: left;
}
.top-navtext>li:nth-child(3){
	width: 106px;
	height: 60px;
	float: left;
	margin-top: -25px;
	text-align: center;
}
.top-navtext>li:nth-child(3)>a{
	width: 106px;
	height: 20px;
	float: left;
}
.top-navtext>li:nth-child(4){
	width: 106px;
	height: 60px;
	float: left;
	margin-top: -25px;
	text-align: center;
}
.top-navtext>li:nth-child(4)>a{
	width: 106px;
	height: 20px;
	float: left;
}
.top-navtext>li:nth-child(5){
	width: 140px;
	height: 60px;
	float: left;
	margin-top: -25px;
	text-align: center;
}
.top-navtext>li:nth-child(5)>a{
	width: 140px;
	height: 20px;
	float: left;
}
.top-navtext>li:nth-child(6){
	width: 146px;
	height: 60px;
	float: left;
	margin-top: -25px;
	text-align: center;
}
.top-navtext>li:nth-child(6)>a{
	width: 146px;
	height: 20px;
	float: left;
}
.sousuo{
	width:50px;
	height: 40px;
	float: left;
	margin-top: 62px;
	margin-left: 20px;
}
.sousuo>li{
	width:50px;
	height: 40px;
}
.sousuo>li>a{
	width:50px;
	height: 40px;
}
.sousuo>li>a>span{
	width:20px;
	height: 20px;
	font-size:20px;
	margin-left: 20px;
}
.denglu{
	width:74px;
	height: 14px;
	position: absolute;
	left:870px;
	top:28px;
}
.denglu>li{
	width:37px;
	height: 14px;
	float: left;
	text-align: center;
	box-sizing:border-box;
}
.denglu>li>a>span{
	width:37px;
	height: 14px;
	font-size: 12px;
}
.denglu>li>a{
	width:37px;
	height: 14px;
}
.denglu>li:nth-child(1){
	border-right: 1px solid gray;
}
.banner{
	width:100%;
	height: 792.91px;
	position:relative;
	overflow:hidden;
}
.banner>ul>li>a{
	width:1920px;
	height: 792.91px;
	display: block;
}
.banner>ul>li>a>img{
	width:1920px;
	height: 792.91px;
}
#ul1{
	height:792.91px;
	position:absolute;
	left:0px;
	top:0px;
}
#ul1>li{
	width:1920px;
	height:792.91px;
	float:left;
}
#ul2{
	width:100%;
	height:1px;
	position:absolute;
	left:800px;
	top:750px;
	bottom:0px;
}
#ul2>li{
	width:50px;
	height:100%;
	margin-left:10px;
	background:white;
	float:left;
	line-height:32px;
	text-align:center;
	box-sizing:border-box;
	font-size:13px;
}
#ul2>li:first-child{
	margin:0px;
}
#ul2:hover{
	height:5px;
}
#ul2>li:hover{
	background:#00ADEF;
}
.body{
	width:100%;
	margin-top: 80px;
}
.header{
	width:940px;
	height:491px; 
	margin:auto auto;
	text-align: center;
    font-size: 36px;
    line-height: 50px;
}
.header>span{
	width:940px;
	height:50px; 
	margin:auto auto;
	text-align: center;
    font-size: 36px;
    line-height: 50px;
    color:#666666;
    display: block;
    margin-bottom: 40px;
}
.zhonglei{
	width: 940px;
	height: 400px;
	background: url(../images/d-mb-homepage-all-vehicles-bg-img.jpg);
	background-size: 940px 400px;
	margin-top: 50px;
	position: relative;
	z-index: 1;
}
.zhonglei>ul{
	width: 940px;
	height: 400px;
}
.zhonglei>ul>li{
	width:235px;
	height: 400px;
	border-right: 1px solid white;
	box-sizing:border-box;
	float: left;
}
.zhonglei>ul>li>a{
	width:235px;
	height: 400px;
	display: block;
}
.zhonglei>ul>li:nth-child(4){
	width:235px;
	height: 400px;
	border-right: 0px solid white;
	box-sizing:border-box;
}
.zhonglei>ul>li:hover{
	background: black;
	opacity: 0.6;
}
.zhonglei>ul>li>a:hover{
	color:white;
}
.zhonglei>ul>li>a:hover>span{
	background:white;
}
.zhonglei>ul>li:hover>a>p{
	margin-top: -50px;
	font-weight: 600;
	font-size: 24px;
}
.zhonglei>ul>li:nth-child(1)>a>p{
	font-size:20px;
	position: absolute;
	top:300px;
	left:95px;
	z-index: 2;
}
.zhonglei>ul>li:nth-child(2)>a>p{
	font-size:20px;
	position: absolute;
	top:300px;
	left:330px;
	z-index: 2;
}
.zhonglei>ul>li:nth-child(3)>a>p{
	font-size:20px;
	position: absolute;
	top:300px;
	left:515px;
	z-index: 2;
}
.zhonglei>ul>li:nth-child(4)>a>p{
	font-size:20px;
	position: absolute;
	top:300px;
	left:800px;
	z-index: 2;
}
.gongju{
	width:940px;
	height:270px; 
	margin:auto auto;
	text-align: center;
    font-size: 36px;
    line-height: 50px;
    margin-top: 60px;
}
.gongju>span{
	width:940px;
	height:50px; 
	margin:auto auto;
	text-align: center;
    font-size: 36px;
    line-height: 50px;
    color:#666666;
    display: block;
    margin-bottom: 40px;
}
.gongju>ul{
	width: 940px;
	height: 96px;
}
.gongju>ul>li{
	width: 220px;
	height: 96px;
	float: left;
	color:#666666;
}
.gongju>ul>li>a{
	width: 220px;
	height: 96px;
	color:#666666;
}
.gongju>ul>li>a>span{
	width:33px;
	height: 39px;
	font-size: 33px;
}
.gongju>ul>li>a>p{
	width:220px;
	height: 32px;
	font-size: 20px;
}
.gengduo{
	width:940px;
	height:800px; 
	margin:auto auto;
	text-align: center;
    font-size: 36px;
    line-height: 50px;
    position: relative;
}
.gengduo>span{
	width:940px;
	height:50px; 
	margin:auto auto;
	text-align: center;
    font-size: 36px;
    line-height: 50px;
    color:#666666;
    display: block;
    margin-bottom: 40px;
}
.xinfangan{
	width: 940px;
	height: 392px;
	background: url(../images/1231攻新计新图-pc.jpg);
	background-size: 940px 392px;
}
.xinfangan>a{
	width: 940px;
	height: 392px;
	display: block;
}
.xinfangan>a:hover{
	background: black;
	opacity: 0.5;
}
.xinfanganTxt{
	color:white;
	font-size: 30px;
	position: absolute;
	top:248px;
	left:50px;
}
.xinfanganMore{
	width:320px;
	position: absolute;
	font-size: 20px;
	top:300px;
	left:0px;
	color:white;
	visibility: hidden;
}
.xinfanganMore:hover{
	background: black;
}
.xinfanganMore>a{
	display: block;
	color:white;
	font-size: 20px;
}
.woman{
	width: 620px;
	height: 300px;
	margin-top:10px;
	background: url(../images/0917shes-pc.jpg);
	background-size: 620px 300px;
	float: left;
}
.woman>a{
	width: 620px;
	height: 300px;
	display: block;
}
.woman>a:hover{
	background: black;
	opacity: 0.5;
}
.womanTxt{
	color:white;
	font-size: 30px;
	position: absolute;
	top:619px;
	left:10px;
}
.womanMore{
	width:320px;
	position: absolute;
	font-size: 20px;
	top:670px;
	left:0px;
	color:white;
	visibility: hidden;
}
.womanMore:hover{
	background: black;
}
.womanMore>a{
	display: block;
	color:white;
	font-size: 20px;
}
.xingyouhui{
	width: 310px;
	height: 300px;
	margin-left: 10px;
	float: left;
	margin-top: 10px;
	background: url(../images/星友荟1.jpg);
	background-size: 310px 300px;
}
.xingyouhui>a{
	width: 310px;
	height: 300px;
	display: block;
}
.xingyouhui>a:hover{
	background: black;
	opacity: 0.5;
}
.xingyouhuiTxt{
	color:white;
	font-size: 30px;
	position: absolute;
	top:582px;
	left:742px;
}
.xingyouhuiMore{
	width:300px;
	position: absolute;
	font-size: 20px;
	top:630px;
	left:635px;
	color:white;
	visibility: hidden;
}
.xingyouhuiMore:hover{
	background: black;
}
.xingyouhuiMore>a{
	display: block;
	color:white;
	font-size: 20px;
}
.shijia{
	width:100%;
	height: 528.94px;
	background: url(../images/E-Class-Coupe.jpg);
	background-size:1920px 528.94px;
	margin-top: 80px;
	position: relative;
}
.shijiaTxt{
	background: white;
	opacity: 0.7;
	width:300px;
	height: 167px;
	float: left;
	margin-left: 483px;
	margin-top: 190px;
}
.shijiaStar{
	width:260px;
	height: 120px;
	color:#333333;
	position: absolute;
	top:216px;
	left:536px;
	font-size: 20px;
}
.shijiaStar>p:nth-child(1){
	font-size: 30px;
	margin-bottom: 20px;
}
.shijiaStar>p:nth-child(2){
	margin-bottom: 20px;
}
.shijiaStar>a{
	color:#333333;
	font-size: 14px;
}
.fenxiang{
	width:100%;
	height: 172px;
}
.fenxiangTo{
	width:940px;
	height: 32px;
	margin:40px auto;
}
.fenxiangTo>p{
	width:48px;
	height: 21px;
	float:right;
	font-size: 16px;
	line-height: 21px;
	margin-top: 5px;
}
.fenxiangTo>a{
	width:32px;
	height: 32px;
	display: block;
	color:#333333;
	float:right;
	margin-left:20px;
}
.fenxiangTo>a:hover{
	color:#333333;
}
.fenxiangTo>a>span{
	width:32px;
	height: 32px;
	display: block;
	font-size: 28px;
	line-height: 32px;
}
footer{
	width:100%;
	height: 892px;
	background: #F1F1F1;
}
.frist{
	width: 940px;
	height: 500px;
	margin: auto auto;
	border-bottom: 1px solid #cccccc;
}
h4{
	width:220px;
	height: 48px;
	font-size: 20px;
}
h4>a{
	color:#333333;
}
h4>a:hover{
	color:#0090FE;
}
.frist_1{
	width: 220px;
	height: 486px;
	float: left;
	margin-top: 40px;
	margin-right: 20px;
}
.frist_1>p{
	width:220px;
	height: 48px;
}
.frist_1>p>a{
	width:220px;
	height: 48px;
	color:#333333;
}
.frist_1>p>a:hover{
	color:#0090FE;
}
.frist_2{
	width:220px;
	height: 486px;
	float: left;
	margin-top: 40px;
	margin-right: 20px;
}
.frist_2>p>a{
	width:220px;
	height: 48px;
	color:#333333;
}
.frist_2>p>a:hover{
	color:#0090FE;
}
.frist_2>p{
	width:220px;
	height: 48px;
}
.frist_3{
	width:220px;
	height: 486px;
	float: left;
	margin-top: 40px;
	margin-right: 20px;
}
.frist_3>p>a{
	width:220px;
	height: 48px;
	color:#333333;
}
.frist_3>p>a:hover{
	color:#0090FE;
}
.frist_3>p{
	width:220px;
	height: 48px;
}
.frist_4{
	width:220px;
	height: 486px;
	float: left;
	margin-top: 40px;
}
.frist_4>p>a{
	width:220px;
	height: 48px;
	color:#333333;
}
.frist_4>p>a:hover{
	color:#0090FE;
}
.frist_4>p{
	width:220px;
	height: 48px;
}
.last{
	width: 940px;
	height: 128px;
	border-bottom: 1px solid #cccccc;
	margin:auto auto;
	margin-bottom: 20px;
}
.last>ul{
	width: 940px;
	height: 19px;
	margin-top: 20px;
}
.last>ul>li{
	float:left;
	width:230px;
	height:19px;
}
.last>ul>li:nth-child(3){ 
	width:200px;
}
.last>ul>li:nth-child(4){ 
	width:200px;
	text-align: center;
}
.last>ul>li>a{
	width:226px;
	height:19px;
	color:#333333;
}
.last>ul>li>a:hover{
	color:#0090FE;
}
.guanZ{
	width:940px;
	height: 148px;
	margin:auto auto;
}
.aaa{
	width:940px;
	height: 44px;
	margin-top: 20px;
}
.aaa>a:nth-child(1){
	display: block;
	width:44px;
	height: 44px;
	border-radius: 50%;
	background: url(../images/wechat.png);
	background-size: 44px 44px;
	float: left;
	margin-right: 20px;
}
.aaa>a:nth-child(1):hover{
	background: url(../images/wechat_mouse_over.png);
	background-size: 44px 44px;
}
.aaa>a:nth-child(2){
	display: block;
	width:44px;
	height: 44px;
	border-radius: 50%;
	background: url(../images/sina.png);
	background-size: 44px 44px;
	float: left;
	margin-right: 20px;
}
.aaa>a:nth-child(2):hover{
	background: url(../images/sina_mouse_over.png);
	background-size: 44px 44px;
}
.aaa>a:nth-child(3){
	display: block;
	width:44px;
	height: 44px;
	border-radius: 50%;
	background: url(../images/zhihu.png);
	background-size: 44px 44px;
	float: left;
}
.aaa>a:nth-child(3):hover{
	background: url(../images/zhihu_mouse_over.png);
	background-size: 44px 44px;
}
.footer_last{
	width:100%;
	height: 50px;
	background: #222222;
	margin-top: 44px;
}
.footer_lastxt{
	width:940px;
	height: 21px;
	margin:0 auto;
	display: flex;
	padding-top: 20px;
}
.footer_lastxt>ul{
	width:940px;
	height: 21px;
	display: flex;
	justify-content: space-between;
}
.footer_lastxt>ul>li{
	float:left;
}