header{
	width:100%;
	height: 108px;
	background: #222222;
}
.top-nav{
	width:960px;
	height: 108px;
	margin:auto auto;
	position: relative;
}
.top-navtext{
	width:875px;
	height:
	 64px;
	margin:auto auto;
	margin-top: 22px;
	float: left;
}
.top-navtext>li:nth-child(1){
	width: 274px;
	height: 67px;
}
.top-navtext>li:nth-child(1)>a{
	width:279px;
	height: 67px;
}
.top-navtext>li:nth-child(1)>a>span{
	width: 259px;
	height: 67px;
}
.mercedes-benz{
	width: 259px;
	height: 64px;
	cursor: pointer;
}
.top-navtext>li:nth-child(2){
	width: 78px;
	height: 60px;
	float: left;
	margin-left: 299px;
	margin-top: -25px;
	text-align: center;
}
.top-navtext>li:nth-child(2)>a{
	width: 78px;
	height: 20px;
	float: left;
}
.top-navtext>li:nth-child(3){
	width: 106px;
	height: 60px;
	float: left;
	margin-top: -25px;
	text-align: center;
}
.top-navtext>li:nth-child(3)>a{
	width: 106px;
	height: 20px;
	float: left;
}
.top-navtext>li:nth-child(4){
	width: 106px;
	height: 60px;
	float: left;
	margin-top: -25px;
	text-align: center;
}
.top-navtext>li:nth-child(4)>a{
	width: 106px;
	height: 20px;
	float: left;
}
.top-navtext>li:nth-child(5){
	width: 140px;
	height: 60px;
	float: left;
	margin-top: -25px;
	text-align: center;
}
.top-navtext>li:nth-child(5)>a{
	width: 140px;
	height: 20px;
	float: left;
}
.top-navtext>li:nth-child(6){
	width: 146px;
	height: 60px;
	float: left;
	margin-top: -25px;
	text-align: center;
}
.top-navtext>li:nth-child(6)>a{
	width: 146px;
	height: 20px;
	float: left;
}
.sousuo{
	width:50px;
	height: 40px;
	float: left;
	margin-top: 62px;
	margin-left: 20px;
}
.sousuo>li{
	width:50px;
	height: 40px;
}
.sousuo>li>a{
	width:50px;
	height: 40px;
}
.sousuo>li>a>span{
	width:20px;
	height: 20px;
	font-size:20px;
	margin-left: 20px;
}
.denglu{
	width:74px;
	height: 14px;
	position: absolute;
	left:870px;
	top:28px;
}
.denglu>li{
	width:37px;
	height: 14px;
	float: left;
	text-align: center;
	box-sizing:border-box;
}
.denglu>li>a>span{
	width:37px;
	height: 14px;
	font-size: 12px;
}
.denglu>li>a{
	width:37px;
	height: 14px;
}
.denglu>li:nth-child(1){
	border-right: 1px solid gray;
}
.banner{
	width:100%;
	height: 792.91px;
	position:relative;
	overflow:hidden;
}
.banner>ul>li>a{
	width:1920px;
	height: 792.91px;
	display: block;
}
.banner>ul>li>a>img{
	width:1920px;
	height: 792.91px;
}
.photo{
	width: 100%;
	height: 790px;
	position: relative;
}
.photo>p:nth-child(1){
	background: url(../images/mercedes-me.jpg);
	width: 1920px;
	height: 790px;
	background-size: 1920px 790px;
	position: absolute;
}
.photo>p:nth-child(2){
    margin-top: 140px;
    width: 740px;
    height: 120px;
    margin-left: 575px;
    position: absolute;
    z-index: 100;
    color: #fff;
    font-size:19px;
    text-align: center;
}
.photo>p:nth-child(3)>a{
	width: 210px;
	height: 43px;
	background: #00adef;
	margin-top: 300px;
	margin-left: 855px;
	font-size:19px;
    text-align: center;
    color: #fff;
    position: absolute;
}
.photo>p:nth-child(3)>a:hover{
	background: #1598ca;
}